<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.c3p0.acquire_increment">2</property>
  <property name="hibernate.c3p0.idle_test_period">3600</property>
  <property name="hibernate.c3p0.max_size">10</property>
  <property name="hibernate.c3p0.max_statements">0</property>
  <property name="hibernate.c3p0.min_size">2</property>
  <property name="hibernate.c3p0.timeout">5000</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/atulmith_appbinggo</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">pass</property>
  <!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cbook13_golfcaddy</property>
  <property name="hibernate.connection.username">cbook13_golf</property>
  <property name="hibernate.connection.password">golf123</property> -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <mapping resource="com/bingoapp/db/Tbleventdetails.hbm.xml"/>
  <mapping resource="com/bingoapp/db/TblAdminMaster.hbm.xml"/>
  <mapping resource="com/bingoapp/db/Tblsequence.hbm.xml"/>
  <mapping resource="com/bingoapp/db/TblEventcommentsDetails.hbm.xml"/>
  <mapping resource="com/bingoapp/db/TblUserMaster.hbm.xml"/>
  <mapping resource="com/bingoapp/db/TblUserownMaster.hbm.xml"/>
  <mapping resource="com/bingoapp/db/TblUserrootDetails.hbm.xml"/>
  <mapping resource="com/bingoapp/db/TblUserrootMaster.hbm.xml"/>
  <!-- <mapping resource="com/caddybook/TblTrackinguserEntries.hbm.xml"/>
   -->
 </session-factory>
</hibernate-configuration>
